<!-- HelpCenter Settings Modal -->
<div class="modal fade" id="zdSettings" tabindex="-1" aria-labelledby="zdSettings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title setting_title" id="zdSettings">HelpCenter Settings</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ph-x" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row setting_group">
                        <div class="col-12 setting_title">Search Bar Location:</div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="radio" name="searchBarLoc" id="searchBarTop" value="top">
                            <label class="form-check-label" for="searchBarTop">Top (Header)</label>
                        </div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="radio" name="searchBarLoc" id="searchBarBottom" value="bottom" checked>
                            <label class="form-check-label" for="searchBarBottom">Bottom (Navigation Bar)</label>
                        </div>
                    </div>

                    <div class="row setting_group">
                        <div class="col-12 setting_title">Navigation Menu Location:</div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="radio" name="navMenuLoc" id="navMenuTop" value="top">
                            <label class="form-check-label" for="navMenuTop">Top</label>
                        </div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="radio" name="navMenuLoc" id="navMenuBottom" value="bottom" checked>
                            <label class="form-check-label" for="navMenuBottom">Bottom</label>
                        </div>
                    </div>

                    <div class="row setting_group">
                        <div class="col-12 setting_title">Customize Quick Actions:</div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="text" name="quickActionLeft" id="actionNameLeft" value="Submit Ticket">
                            <label class="form-check-label" for="actionNameLeft">Left Quick Action Title</label>
                        </div>
                        <div class="col-sm-12 col-md-6 form-check setting_form">
                            <input class="form-check-input" type="text" name="quickActionCenter" id="actionNameCenter" value="Wing Cards">
                            <label class="form-check-label" for="actionNameCenter">Center Quick Action Title</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Start User Profile Template -->
<div class="container">
    <div class="row profile_info">
        <div class="col-12 profile_info-avatar">
            <img class="user-avatar" src="{{user.avatar_url}}" alt="User Avatar" />
        </div>

        <div class="col-12 profile_info-about">
            <div class="profile_info-about_name">
                {{#if user.url}}
                    <a href="{{user.url}}" target="_zendesk_lotus"
                        title="{{t 'open_user_in_support'}}">{{user.name}}</a>
                {{else}}
                    {{user.name}}
                {{/if}}

                <a role="button" class="profile_info-about_name-edit" title="Opens a dialog" data-action="edit-profile" href="#">
                    <i class="ph-pencil-line-bold"></i>
                </a>

                <a role="button" class="profile_info-zd_settings" title="Opens a dialog to change HelpCenter settings." data-toggle="modal" data-target="#zdSettings" href="#">
                    <i class="ph-faders-bold"></i>
                </a>
            </div>

            <ul class="profile_info-about_name-stats">
                <li>
                    {{t 'member_since'}}</span>
                    {{#if member_since}}
                        {{date member_since format='medium'}}
                    {{else}}
                        {{t 'no_activity_yet'}}
                    {{/if}}
                </li>
                <li>
                    {{t 'last_activity'}}
                    {{#if last_activity_at}}
                        {{date last_activity_at timeago=true}}
                    {{else}}
                        {{t 'no_activity_yet'}}
                    {{/if}}
                </li>
                <li>
                    {{t 'votes'}}
                    {{vote_count}}
                </li>
                <li>
                    Saved Articles
                    {{subscription_count}}
                </li>

                {{#if description}}
                    <li class="profile_info-about_desc">{{description}}</li>
                {{/if}}
            </ul>

            <div class="profile_info-about_name-recent">
                {{recent_articles}}
            </div>

        </div>
    </div>

    <div class="row profile-quick_links">

        <div class="col-12 col-sm-12 col-md-6">
            <div class="profile-quick_links-title">Quick Links</div>
            <ul>
                <a href="https://adm.365retailmarkets.com/public/login">
                    <li>ADM</li>
                </a>
                <a href="https://smarthq.365retailmarkets.com/smarthq/">
                    <li>SmartHQ</li>
                </a>
                <a
                    href="https://live.air-vend.com/authentication-page?__AUTHURL=https%3a%2f%2flive.app.air-vend.com%2fAccount%2fVerifyAuth">
                    <li>AirVend Live</li>
                </a>
                <a href="https://www.mymarketaccount.com/Login.aspx">
                    <li>MyMarketAccount User Portal</li>
                </a>
                <a href="https://adminportal.365retailmarkets.com/Login.aspx">
                    <li>MyMarketAccount - Admin Portal</li>
                </a>
                <a href="http://365mobileinventory.com/">
                    <li>365Inventory (Mobile Inventory)</li>
                </a>
                <a href="https://365smartinventory.com/R3/">
                    <li>Smart Inventory</li>
                </a>
                <a href="http://mymarketaccount.net/">
                    <li>MyMarketAccount.net</li>
                </a>
            </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
            <div class="profile-quick_links-title">Help</div>
            <ul>
                <a href="https://365retailmarkets.zendesk.com/access/help">
                    <li>Reset Password</li>
                </a>
                <a href="https://ideas.365retailmarkets.com/ideas/new">
                    <li>Share Your Ideas</li>
                </a>
                <a href="{{page_path 'new_request'}}">
                    <li>Submit New Ticket</li>
                </a>
                <a href="{{page_path 'new_request'}}">
                    <li>Contact Us</li>
                </a>
        </div>

        <div class="col-12 col-sm-12 col-md-6 internal">
            <div class="profile-quick_links-title">Internal Support</div>
            <ul>
                <a href="https://lastpass.com/misc_download2.php?cmp=1">
                    <li>LastPass</li>
                </a>
                <a href="https://host.sensor-swarm.com/login/">
                    <li>SensorSwarm Host</li>
                </a>
                <a href="https://www.c9pg.com/cloud9/web/">
                    <li>Cloud9 Payment Gateway</li>
                </a>
                <a href="https://www.imonnit.com/Account/Logon?ReturnUrl=/">
                    <li>iMonnit</li>
                </a>
                <a href="https://365retailmarkets.atlassian.net/">
                    <li>JIRA</li>
                </a>
                <a
                    href="https://docs.google.com/spreadsheets/d/1QyG-8v55vC5kF4wwcRi5QPxkCheIbdiA-GeYBUDgNjg/edit?ts=563228aa#gid=0">
                    <li>LMI Alert Contact List</li>
                </a>
                <a
                    href="https://docs.google.com/spreadsheets/d/1Vm3bJ9M46pkRm6bI0fd7E1YOZh32_vMnidepWkEX18Y/edit#gid=982652738">
                    <li>RMA Tracking Log</li>
                </a>
            </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-6 internal">
            <div class="profile-quick_links-title">Network &amp; Remote Tools</div>
            <ul>
                <a href="https://secure.logmein.com/central/Central.aspx">
                    <li>LogMeIn</li>
                </a>
                <a href="https://get.teamviewer.com/ut6utx4">
                    <li>TeamViewer</li>
                </a>
                <a href="https://dashboard.optconnect.com/customer/index/3663">
                    <li>OptConnect Summit</li>
                </a>
                <a href="https://opensignal.com/networks/usa/at&t-coverage">
                    <li>AT&amp;T Signal Coverage</li>
                </a>
                <a HREF="https://opensignal.com/networks/usa/verizon-coverage">
                    <li>Verizon Signal Coverage</li>
                </a>
                <a href="https://my.nayax.com/DCS/LoginPage.aspx?ReturnUrl=%2fdcs%2fLogoutPage.aspx">
                    <li>NayaxVend Authentication</li>
                </A>
                <a href="https://dashweb.readytouch.com/login?next=/">
                    <li>Dashweb</li>
                </a>
                <a href="https://moki-marbles.appspot.com/aem?tenantid=728a20c5-a76b-4467-a5d7-af117dcb36c2#/?mdm=t">
                    <li>Moki Dashboard</li>
                </a>
                <a href="https://n158.meraki.com/o/a_MCdb/manage/users/sms_auth_config/">
                    <li>Meraki Dashboard</li>
                </a>
            </ul>
        </div>


        <div class="col-12 col-sm-12 col-md-6 internal">
            <div class="profile-quick_links-title">Emulators</div>
            <ul>
                <a
                    href="https://www.cisco.com/assets/sol/sb/RV215W_Emulators/RV215W_Emulator_v1.0.0.16/default_EN.asp.htm">
                    <li>Cisco RV215W Emulator</li>
                </a>
                <a href="https://www.cisco.com/assets/sol/sb/RV110W_Emulators/RV110W_Emulator_v1.0.0.2/default.asp.htm">
                    <li>Cisco RV110W Emulator</li>
                </a>
                <a href="http://ui.linksys.com/E1200/1.0.00/index.html">
                    <li>Linksys E1200 Emulator</li>
                </a>
            </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-6 internal">
            <div class="profile-quick_links-title">Human Resources</div>
            <ul>
                <a href="https://93721.wheniwork.com/login">
                    <li>WhenIWork</li>
                </a>
                <a href="https://www.principal.com/">
                    <li>Principal 401K</li>
                </a>
                <a href="https://access.paylocity.com/">
                    <li>Paylocity</li>
                </a>
            </ul>
        </div>
    </div>
</div>
